#!/usr/bin/env bash

# Development environment variables for Redshift
# This file populates the necessary environment variables to run integration tests for the project
# You can edit this file and rename it into dev_env.sh to avoid pushing local changes to the repo

export RS_REGION=""
export RS_HOST=""
export RS_CLUSTER_ID=""
export RS_DATABASE=""
export RS_SCHEMA_PREFIX=""
export RS_USER=""
export RS_PASSWORD=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_S3_BUCKET="s3:///"
