dist/
*venv*/
node_modules/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.tmp/
.vscode/
.idea/

*.log
*.pyc
snowsql_rt.*
.DS_STORE
.env*
!.env.template
dev_env.sh
package-lock.json
MANIFEST
*.ipynb
.pgpass