#!/usr/bin/env bash

# Development environment variables for BigQuery
# This file populates the necessary environment variables to run integration tests for the project
# You can edit this file and rename it into dev_env.sh to avoid pushing local changes to the repo

export BQ_REGION="us"
export BQ_PROJECT="myproject"
export BQ_BUCKET="gs://mybucket/"
export BQ_DATASET_PREFIX="myprefix_"
export GOOGLE_APPLICATION_CREDENTIALS="/path/to/the/service/account.json"