#!/usr/bin/env bash

# This file populates the necessary environment variables to run integration tests for the project
# You can edit this file and rename it into dev_env.sh to avoid pushing local changes to the repo

export BQ_REGION="us"
export BQ_PROJECT="cartodb-gcp-backend-data-team"
export BQ_BUCKET_PUBLIC="gs://bqcartodev/"
export BQ_DATASET_PREFIX="jarroyo_"
export GOOGLE_APPLICATION_CREDENTIALS="/home/jesus/Documents/SAs/cartodb-gcp-backend-data-team-8f1019ad824e.json"
