#!/usr/bin/env bash

# You can edit this file and rename it into dev_environment.sh
# When modifying the source file (to commit to the repo) make sure you respect the environment and
# only set variables that aren't already set

original_full="$(git rev-parse --show-toplevel)/tools/dev_environment.sh.sample"
script_name=`basename ${BASH_SOURCE[0]}`
script_full=`realpath ${BASH_SOURCE[0]}`
if [ "$script_name" != "dev_environment.sh.sample" ] && [ "$original_full" -nt "$script_full" ]; then
    echo "=======================================================================================";
    echo "WARNING: THERE HAVE BEEN CHANGES TO dev_environment.sh.sample SINCE THIS WAS COPIED!!!!";
    echo "=======================================================================================";
fi

if [ -z "$BQ_DATASET_PREFIX" ]
then
      echo "\$BQ_DATASET_PREFIX must be declared"
      return 1
fi

# Cleanup the storage bucket and the datasets after CI is run
export POST_INTEGRATION_CLEANUP=${POST_INTEGRATION_CLEANUP:-0}

# BigQuery
export BQ_PROJECTID=${BQ_PROJECTID:-"cartodb-gcp-backend-data-team"}
export BQ_BUCKET=${BQ_BUCKET:-"gs://bqcartodev/"}
export BQ_DATASET_SKEL=${BQ_DATASET_SKEL:-"${BQ_DATASET_PREFIX}_skel"}

# Enabled drivers
export ENABLED_BQ=${ENABLED_BQ:-1}
