name: Redshift CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "gateway/**"
      - "clouds/redshift/**"
      - ".github/workflows/redshift.yml"
  pull_request:
    paths:
      - "gateway/**"
      - "clouds/redshift/**"
      - ".github/workflows/redshift.yml"
  workflow_dispatch:
  workflow_call:

env:
  NODE_VERSION: 20.19
  PYTHON_VERSION: 3.10.13
  VIRTUALENV_VERSION: 20.15.1
  GCLOUD_VERSION: 500.0.0

jobs:

  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 40
    env:
      RS_HOST: ${{ secrets.RS_HOST_CI }}
      RS_DATABASE: ${{ secrets.RS_DATABASE_CI }}
      RS_USER: ${{ secrets.RS_USER_CI }}
      RS_PASSWORD: ${{ secrets.RS_PASSWORD_CI }}
      RS_LAMBDA_EXECUTION_ROLE: ${{ secrets.RS_LAMBDA_EXECUTION_ROLE_CI }}
      RS_LAMBDA_INVOKE_ROLE: ${{ secrets.RS_LAMBDA_INVOKE_ROLE_CI }}
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${{ secrets.RS_AWS_ACCESS_KEY_ID_CI }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.RS_AWS_SECRET_ACCESS_KEY_CI }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Check diff
        uses: technote-space/get-diff-action@v6
      - name: Generate deployment prefix
        run: |
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-4)
          SHORT_RUN=$(echo ${{ github.run_id }} | tail -c 4)
          echo "RS_PREFIX=ci_${SHORT_SHA}_${SHORT_RUN}_" >> $GITHUB_ENV
          echo "RS_LAMBDA_PREFIX=ci${SHORT_SHA}${SHORT_RUN}-" >> $GITHUB_ENV
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Setup yarn
        run: npm install -g yarn
      - name: Fix apt sources for Debian Buster
        run: |
          sudo sed -i 's|http://deb.debian.org/debian|http://archive.debian.org/debian|g' /etc/apt/sources.list
          sudo sed -i 's|http://security.debian.org/debian-security|http://archive.debian.org/debian-security|g' /etc/apt/sources.list
          echo 'Acquire::Check-Valid-Until "false";' | sudo tee /etc/apt/apt.conf.d/99no-check-valid
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install rsync zip unzip curl glibc-source groff less
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
      - name: Setup virtualenv
        run: pip install virtualenv==${{ env.VIRTUALENV_VERSION }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.RS_AWS_ACCESS_KEY_ID_CI }}
          aws-secret-access-key: ${{ secrets.RS_AWS_SECRET_ACCESS_KEY_CI }}
          aws-region: ${{ secrets.RS_REGION_CI }}
      - name: Run linter
        run: make lint cloud=redshift
      - name: Run deploy
        run: make deploy cloud=redshift diff="$GIT_DIFF"
      - name: Run test
        run: make test cloud=redshift diff="$GIT_DIFF"
      - name: Run remove
        if: always()
        run: |
          make remove cloud=redshift drop-schema=1

  deploy-internal:
    if: github.ref_name == 'main'
    needs: test
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    strategy:
      matrix:
        include:
          - host: RS_HOST_CD
            database: RS_DATABASE_CD
            user: RS_USER_CD
            password: RS_PASSWORD_CD
            region: RS_REGION_CD
            roles: RS_ROLES_CD
            aws_access_key_id: RS_AWS_ACCESS_KEY_ID_CD
            aws_secret_access_key: RS_AWS_SECRET_ACCESS_KEY_CD
            lambda_execution_role: RS_LAMBDA_EXECUTION_ROLE_CD
            lambda_invoke_role: RS_LAMBDA_INVOKE_ROLE_CD
          - host: RS_HOST_CI
            database: RS_DATABASE_CI
            user: RS_USER_CI
            password: RS_PASSWORD_CI
            region: RS_REGION_CI
            roles: RS_ROLES_CI
            aws_access_key_id: RS_AWS_ACCESS_KEY_ID_CI
            aws_secret_access_key: RS_AWS_SECRET_ACCESS_KEY_CI
            lambda_execution_role: RS_LAMBDA_EXECUTION_ROLE_CI
            lambda_invoke_role: RS_LAMBDA_INVOKE_ROLE_CI
    env:
      RS_HOST: ${{ secrets[matrix.host] }}
      RS_DATABASE: ${{ secrets[matrix.database] }}
      RS_USER: ${{ secrets[matrix.user] }}
      RS_PASSWORD: ${{ secrets[matrix.password] }}
      RS_REGION: ${{ secrets[matrix.region] }}
      RS_ROLES: ${{ secrets[matrix.roles] }}
      AWS_REGION: ${{ secrets[matrix.region] }}
      AWS_ACCESS_KEY_ID: ${{ secrets[matrix.aws_access_key_id] }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets[matrix.aws_secret_access_key] }}
      RS_LAMBDA_PREFIX: carto-at-
      RS_LAMBDA_EXECUTION_ROLE: ${{ secrets[matrix.lambda_execution_role] }}
      RS_LAMBDA_INVOKE_ROLE: ${{ secrets[matrix.lambda_invoke_role] }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Check diff
        uses: technote-space/get-diff-action@v6
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Setup yarn
        run: npm install -g yarn
      - name: Fix apt sources for Debian Buster
        run: |
          sudo sed -i 's|http://deb.debian.org/debian|http://archive.debian.org/debian|g' /etc/apt/sources.list
          sudo sed -i 's|http://security.debian.org/debian-security|http://archive.debian.org/debian-security|g' /etc/apt/sources.list
          echo 'Acquire::Check-Valid-Until "false";' | sudo tee /etc/apt/apt.conf.d/99no-check-valid
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install rsync zip unzip curl glibc-source groff less
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
      - name: Setup virtualenv
        run: pip install virtualenv==${{ env.VIRTUALENV_VERSION }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.RS_REGION }}
      - name: Run deploy
        run: |
          make deploy cloud=redshift production=1

  publish:
    if: github.ref_name == 'stable'
    needs: test
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    env:
      PACKAGE_BUCKET: gs://carto-analytics-toolbox-core/redshift
      LIBS_URL: https://storage.googleapis.com/carto-analytics-toolbox-core/redshift/latest/libs
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Setup yarn
        run: npm install -g yarn
      - name: Setup virtualenv
        run: pip install virtualenv==${{ env.VIRTUALENV_VERSION }}
      - name: Fix apt sources for Debian Buster
        run: |
          sudo sed -i 's|http://deb.debian.org/debian|http://archive.debian.org/debian|g' /etc/apt/sources.list
          sudo sed -i 's|http://security.debian.org/debian-security|http://archive.debian.org/debian-security|g' /etc/apt/sources.list
          echo 'Acquire::Check-Valid-Until "false";' | sudo tee /etc/apt/apt.conf.d/99no-check-valid
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install rsync zip unzip curl glibc-source groff less
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
      - name: Auth google
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCLOUD_PRODUCTION_RELEASE_SA }}
          project_id: ${{ secrets.GCLOUD_PRODUCTION_PROJECT }}
          create_credentials_file: true
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
            version: ${{ env.GCLOUD_VERSION }}
            project_id: ${{ secrets.GCLOUD_PRODUCTION_PROJECT }}
      - name: Create package
        run: |
          make create-package cloud=redshift production=1
      - name: Publish package
        run: |
          gsutil -h "Content-Type:application/zip" -m cp dist/*.zip ${{ env.PACKAGE_BUCKET }}/
          gsutil -h "Content-Type:application/zip" -m cp dist/carto-at-redshift-*.zip ${{ env.PACKAGE_BUCKET }}/carto-analytics-toolbox-core-redshift-latest.zip
