#!/usr/bin/env bash

# Development environment variables for Snowflake
# This file populates the necessary environment variables to run integration tests for the project
# You can edit this file and rename it into dev_env.sh to avoid pushing local changes to the repo

export SF_DATABASE=""
export SF_SCHEMA_PREFIX=""
export SF_SHARE_PREFIX=""
export SF_SHARE_ENABLED=0
export SNOWSQL_ACCOUNT=""
export SNOWSQL_USER=""
export SNOWSQL_PWD=""